.mid-section {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    background-color: #818286;
    height: 150px;
    
    padding: 10px 200px;
  }
  .mid-section .column {
   
    
    display: flex;
    flex-direction: column;
    color: white;

    cursor: pointer;
    padding: 10px 10px;
    border-radius: 10px;
    transition: all .3s;
  }
.mid-section .column:hover{
  background-color: #1C7BBF;

}
.row1{
  
  display: grid;
  grid-template-columns: 35px 1fr;
  align-items: center;
}
  
  